<h1>New Workout</h1>

<h2>Details Form </h2>
<%= form_for(@workout, { :controller => "workouts", :action => "new" }) do |f| %>

    <% if @workout.errors.any? %>
    <div class="warning">
      <h4>The following errors were detected:</h4>
      <ol>
        <% @workout.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ol>
    </div>
  <% end %>

<table>
<div class="field_with_errors">
    <tr>
        <th>Detail </th>
        <th>User Input</th>        
    </tr>
    <tr>
        <td> <%= f.label :name %> </td>
        <td> <%= f.text_field :name %> </td>
    </tr>
        <%= f.hidden_field :user_id, value: current_user.id %>
    <tr>
        <td> <%= f.label :first_exercise %> </td>
        <td> <%= f.collection_select(:first_exercise, @exercises, :id, :name, include_blank: 'None') %> </td>
    </tr>
    <tr>
        <td> <%= f.label :second_exercise %> </td>
        <td> <%= f.collection_select(:second_exercise, @exercises, :id, :name, include_blank: 'None') %> </td>
    </tr>
    <tr>
        <td> <%= f.label :third_exercise %> </td>
        <td> <%= f.collection_select(:third_exercise, @exercises, :id, :name, include_blank: 'None') %> </td>
    </tr>
    <tr>
        <td> <%= f.label :fourth_exercise %> </td>
        <td> <%= f.collection_select(:fourth_exercise, @exercises, :id, :name, include_blank: 'None') %> </td>
    </tr>
    <tr>
        <td> <%= f.label :fifth_exercise %> </td>
        <td> <%= f.collection_select(:fifth_exercise, @exercises, :id, :name, include_blank: 'None') %> </td>
    </tr>
</div>
</table>
    <br><br>
    <%= f.submit "Add Workout", :class => 'menu' %>

<% end %>
