<h1> <%= @workout.name %> </h1>

Created By: <%= link_to User.find(@workout.user_id).username, user_path(@workout.user_id) %>

<h3>Routine</h3>
<table>
    <tr>
        <th>No.</th>
        <th>Exercise</th>
        <th>Muscle Group</th>
        <th>Equipment</th>
    </tr>
    <tr>
        <td>1st</td>
        <td> <%= link_to Exercise.find(@workout.first_exercise).name, exercise_path(@workout.first_exercise) %> </td>
        <td> <%= Exercise.find(@workout.first_exercise).body_part %> </td>
        <td> <%= Exercise.find(@workout.first_exercise).equipment %> </td>
    </tr>
    <tr>
        <td>2nd</td>
        <td> <%= link_to Exercise.find(@workout.second_exercise).name, exercise_path(@workout.second_exercise) %> </td>
        <td> <%= Exercise.find(@workout.second_exercise).body_part %> </td>
        <td> <%= Exercise.find(@workout.second_exercise).equipment %> </td>        
    </tr>
    <tr>
        <td>3rd</td>
        <td> <%= link_to Exercise.find(@workout.third_exercise).name, exercise_path(@workout.third_exercise) %> </td>
        <td> <%= Exercise.find(@workout.third_exercise).body_part %> </td>
        <td> <%= Exercise.find(@workout.third_exercise).equipment %> </td>              
    </tr>
    <tr>
        <td>4th</td>
        <td> <%= link_to Exercise.find(@workout.fourth_exercise).name, exercise_path(@workout.fourth_exercise) %> </td>
        <td> <%= Exercise.find(@workout.fourth_exercise).body_part %> </td>
        <td> <%= Exercise.find(@workout.fourth_exercise).equipment %> </td>          
    </tr>
    <tr>
        <td>5th</td>
        <td> <%= link_to Exercise.find(@workout.fifth_exercise).name, exercise_path(@workout.fifth_exercise) %> </td>
        <td> <%= Exercise.find(@workout.fifth_exercise).body_part %> </td>
        <td> <%= Exercise.find(@workout.fifth_exercise).equipment %> </td>        
    </tr>
    <tr>
        <td>Flagged Review</td>
        <td> <%= link_to Review.find(@workout.review_ids[0]).content, review_path(@workout.review_ids[0]) %> </td>
    </tr>    

</table>
<br><br>
<button class="other"> <%= link_to "Edit Workout", edit_workout_path %> </button> <br><br>
<%= button_to 'Delete Workout', workout_path(@workout), :method => :delete, :class => 'other' %> </button> <br> 
<button class="other"> <%= link_to "Back to Workout Index", workouts_path %> </button>