<h1>Login</h1>

<h2>User Details</h2>

<%= form_for(:session, url: login_path) do |f| %>

<table>
    <tr>
        <td> Username: </td>
        <td> <%= f.text_field :username %> </td>
    </tr>
    <tr>
        <td> Password: </td>
        <td> <%= f.password_field :password %> </td>
    </tr>
</table>
<br>
<%= f.submit "Login", :class => 'menu' %>
<% end %>
<br>
 <button class="menu"> <%= link_to "Google Login", '/auth/google_oauth2' %> <img src="https://tinyurl.com/yconnv5a" width="15" height="15"> </button>