<h1><%= @user.username %>'s Profile</h1>

<h2>Quick Links</h3>
    
    <%= link_to "New Exercise", { :controller => "exercises", :action => "new" } %>&nbsp;&nbsp;&nbsp;         
    <%= link_to "New Review", { :controller => "reviews", :action => "new" } %>

<h2>Exercises Created/Edited</h2>
    <% @exercises.each do |exercise| %>
        <li> <%= link_to exercise.name, exercise_path(exercise) %> </li>
    <% end %>

<h2>Reviews Added</h2>
        <table>
            <tr>
                <th>Exercise</th>
                <th>Comment</th>
            </tr>
            <tr>
                <% @reviews.each do |review| %>
                <td> <%=link_to Exercise.find(review.exercise_id).name, exercise_path(review.exercise_id) %>: </td>
                <td> <%= link_to review.content, review_path(review) %> </td>
            </tr>
                <% end %>

        </table>
    
        
