<h1>Reviews Home</h1>

<h2>Quick Links</h3>
    
<div class="equalize">       
    <button class="other"> <%= link_to "New Review", new_review_path %> </button>
</div>

<h2>For Everyone Keeping Track:</h2>
<table>
    <tr>
        <th>Superlative</th>
        <th>Details</th>
    </tr>
    <tr>
        <td>Most Active Commenter:</td>
        <td><%= link_to @commenter.username, user_path(@commenter) %> (<%= @commenter.reviews_count %>)</td>
    </tr>  
    <tr>
        <td>Most Commented Exercise:</td>
        <td><%= link_to @popular.name, exercise_path(@popular) %> (<%= @popular.reviews_count %>)</td>
    </tr>
    <tr>
        <td>Most Recent Comment:</td>
        <td>"<%= link_to @latest.content, review_path(@latest) %>" by <%= link_to User.find(@latest.user_id).username, user_path(@latest.user_id) %> </td>
    </tr>    
</table>

<h2>Full List of Reviews </h2>
<h3>Total Reviews: <%= @reviews.count %>
<h4><i>By most recent:</i></h4>

<table>
    <tr>
        <th>Exercise</th>
        <th>Username</th>
        <th>Comment</th>
    </tr>
        <% @reviews.each do |review| %>
            <tr>
                <td> <%= link_to Exercise.find(review.exercise_id).name, exercise_path(review.exercise_id) %> </td>
                <td> <%= link_to User.find(review.user_id).username, user_path(review.user_id) %> </td>
                <td> <%= link_to review.content, review_path(review) %> </td>
            </tr>
        <% end %>
</table>