<h1>Create New Review</h1>

<h2>Details Form </h2>
<%= form_for(@review, { :controller => "reviews", :action => "new" }) do |f| %>

  <% if @review.errors.any? %>
  <div class="warning">
    <h4>The following errors were detected:</h4>
    <ol>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ol>
  </div>
<% end %>

<table>  
        <tr>
            <th>Detail </th>
            <th>User Input</th>
        </tr> 
  <div class="field_with_errors">
        <tr>
            <td> <%= f.label :exercise_id %> </td>
            <td> <%= f.select :exercise_id, options_from_collection_for_select(Exercise.all, 'id', 'name') %> </td>
        </tr>
        <tr>
            <td> <%= f.label :content %> </td>
            <td> <%= f.text_field :content %> </td>
        </tr>
    </div>
</table>
<br>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit "Add Review", :class => 'menu', :class => 'other' %>
<% end %>