<h1> <%= @user.username %> on <%= @exercise.name %>  </h1> 

<u>Comment</u>: <%= @review.content %> <br><br>

<button> <%= link_to "Edit Review", edit_review_path %> </button> <br>
<%= button_to 'Delete Review', review_path(@review), :method => :delete %> <br>