<h1> Edit: <%=@exercise.name%> </h1>

<%= form_for(@exercise, { :controller => "exercises", :action => "edit" }) do |f| %>

    Name: 
    <%= f.text_field :name%>
    <br>
    Body Part:
    <%= f.text_field :body_part%>
    <br>
    Group:
    <%= f.text_field :exercise_group%>
    <br>
    Equipment:
    <%= f.text_field :equipment%>
    <br>
    Description:
    <%= f.text_field :description%>     
    <br>
    <%= f.submit "Update Exercise" %>
  <% end %>