<h1>Exercise Index</h1>

<h2> Quick Links</h2>
<h4><%= link_to "New Exercise", { :controller => "exercises", :action => "new" } %></h4>

<h2>Specific Indices</h2>

<button> <%= link_to "By Muscle Group",  { :controller => "exercises", :action => "bodyparts" } %> </button> &nbsp;&nbsp;&nbsp; 
<button> <%= link_to "By Exercise Group",  { :controller => "exercises", :action => "exercisegroup" } %> </button> &nbsp;&nbsp;&nbsp; 
<button> <%= link_to "By Equipment Type",  { :controller => "exercises", :action => "equipment" } %> </button>

<h2>Full Exercise List</h2>
<h3>Total Exercises: <%= @exercises.count %> </h3>

<table>
    <tr>
        <th>Exercise Name</th>
        <th>Created/Edited By </th>
    </tr>
    <% @exercises.each do |exercise| %>
        <tr>
        <td> <%= link_to exercise.name, exercise_path(exercise) %> </td>
        <td> <%= link_to User.find(exercise.user_id).username, user_path(exercise.user_id) %> </td>
        </tr>
    <% end %>
</table>