<h1>Add New Exercise </h1>


<%= form_for(@exercise, { :controller => "exercises", :action => "new" }) do |f| %>

    <%=f.label :name %>: 
    <%= f.text_field :name%>
    <br>
    <%=f.label :body_part %>:
    <%= f.select :body_part, ['Arms', 'Back', 'Chest', 'Core', 'Legs', 'Other'] %>
    <br>
    <%=f.label :exercise_group %>: 
    <%= f.select :exercise_group, ['Primary Lift', 'Secondary Lift', 'Warmup', 'Cooldown'] %>
    <br>
    <%=f.label :equipment %>: 
    <%= f.select :equipment, ['Barbell', 'Body Weight', 'Cables', 'Dumbells', 'Kettlebells', 'Exercise Machine'] %>
    <br>
    <%=f.label :description %>: 
    <%= f.text_field :description%>     
    <br>
    <%= f.submit "Add Exercise" %>
  <% end %>