<h1> <%=@exercise.name%> </h1>

<ul>
    <li> Body Part: <%=@exercise.body_part%> </li> <br>
    <li> Exercise Group: <%=@exercise.exercise_group%> </li> <br>
    <li> Equipment: <%=@exercise.equipment%> </li> <br>
    <li> Description: <%=@exercise.description%> </li> <br>
</ul>

<h3> <%= link_to "Edit Exercise", edit_exercise_path %> </h3>
<br>
<h3> <%= button_to 'Delete Exercise', exercise_path(@exercise), :method => :delete %> </h3>
<br>
<h3><%= link_to "Back to Exercise Index", { :controller => "exercises", :action => "index" } %></h3>