<!DOCTYPE html>

<html>
<head>
  <title>Workout Library</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>
<body>

<header>
<div class="equalize">
        <% if logged_in? %>
        <button> <%= link_to "Log Out", logout_path, method: :destroy %> </button>
        <button> <%= link_to "User Home", user_path(current_user) %> </button>
        <button> <%= link_to "Exercise Index", { :controller => "exercises", :action => "index" } %> </button>
        <button>  <%= link_to "Review Index", { :controller => "reviews", :action => "index" } %> </button>
        <% end %>
</div>

<div>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
</body>
</html>